<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>アプリ情報</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>バージョン</string>
			<key>Key</key>
			<string>settingsconfig_app_appvertion</string>
			<key>DefaultValue</key>
			<string>1.00</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ユーザ情報</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>ユーザID</string>
			<key>Key</key>
			<string>settingsconfig_userinfo_userid</string>
			<key>DefaultValue</key>
			<string>0000</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>ユーザ名</string>
			<key>Key</key>
			<string>settingsconfig_userinfo_username</string>
			<key>DefaultValue</key>
			<string>name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>デバッグ用設定</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>デバッグ情報表示</string>
			<key>Key</key>
			<string>settingsconfig_debug_showDebugInfo</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>デバッグ接続先設定</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>接続先</string>
			<key>Key</key>
			<string>settingsconfig_debug_selectconnect</string>
			<key>DefaultValue</key>
			<string>stagingaddress</string>
			<key>Titles</key>
			<array>
				<string>develop1</string>
				<string>develop2</string>
				<string>develop3</string>
				<string>develop4</string>
				<string>staging</string>
				<string>product</string>
				<string>edit</string>
			</array>
			<key>Values</key>
			<array>
				<string>dev1address</string>
				<string>dev2address</string>
				<string>dev3address</string>
				<string>dev4address</string>
				<string>stagingaddress</string>
				<string>productaddress</string>
				<string>edit</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>プロトコル</string>
			<key>Key</key>
			<string>settingsconfig_debug_selectprotocol</string>
			<key>DefaultValue</key>
			<string>https</string>
			<key>Titles</key>
			<array>
				<string>http</string>
				<string>https</string>
				<string>ftp</string>
			</array>
			<key>Values</key>
			<array>
				<string>http</string>
				<string>https</string>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>上書きアドレス</string>
			<key>Key</key>
			<string>settingsconfig_debug_editurl</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>デバッグユーザ情報</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ユーザID</string>
			<key>Key</key>
			<string>settingsconfig_debug_userid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ユーザID上書き許可</string>
			<key>Key</key>
			<string>settingsconfig_debug_overwriteUserid</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>デバッグリセット</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>全リセット</string>
			<key>Key</key>
			<string>settingsconfig_debug_allreset</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
